@page "/register"

<div class="window__container auth__container">
    <div class="window__upper auth__upper">
        <h2 class="auth__title">
            Регистрация
        </h2>
    </div>
    <div class="window__lower auth__lower">
        <p class="auth__lower-par">
            Введите данные для доступа к системе.
        </p>
        <input type="text" class="auth__input" placeholder="Логин" @bind="newUserLogin"/>
        <input type="text" class="auth__input" placeholder="Пароль" @bind="newUserPassword" />
        <input type="text" class="auth__input" placeholder="Имя" @bind="newUserName" />
        <input type="text" class="auth__input" placeholder="Фамилия" @bind="newUserSurName" />
        <input type="text" class="auth__input" placeholder="Отчество" @bind="newUserLastName" />
        <input type="text" class="auth__input" placeholder="E-Mail" @bind="newUserEmail" />
        <input type="text" class="auth__input" placeholder="Номер телефона"  @bind="newUserPhone"/>
        <button class="auth__login btn" @onclick="addUser">Зарегистрироваться</button>
        <p class="auth__register-par">Уже есть аккаунт?<a class="auth__press-here" href="login">Войти</a></p>
    </div>
</div>
<table class="table table-stripped">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                id
            </th>
            <th scope="col">
                Полное имя
            </th>
            <th scope="col">
                Адрес отправления
            </th>
            <th scope="col">
                Адрес прибытия
            </th>
            <th scope="col">
                Общий вес
            </th>
            <th scope="col">
                Товар
            </th>
        </tr>
    </thead>
    @foreach (var item in customers)
    {
        <tbody>
            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.SurName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.PhoneNumber
                </td>
            </tr>
        </tbody>
    }
</table>
@code {
    public IList<Customer> customers = new List<Customer>();
    public string newUserName;
    public string newUserSurName;
    public string newUserLastName;
    public string newUserLogin;
    public string newUserPassword;
    public string newUserEmail;
    public string newUserPhone;
    public void addUser()
    {
        customers.Add(new Customer
            {
                Name = newUserName,
                SurName = newUserSurName,
                LastName = newUserLastName,
                Login = newUserLogin,
                Password = newUserPassword,
                Email = newUserEmail,
                PhoneNumber = newUserPhone,
                id = 1
    });
        newUserName = string.Empty;
        newUserSurName = string.Empty;
        newUserLastName = string.Empty;
        newUserLogin = string.Empty;
        newUserPassword = string.Empty;
        newUserEmail = string.Empty;
        newUserPhone = string.Empty;
    }
    
}
